<!DOCTYPE html>
<html>
  <head>
    <title>Clone Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
    <h1>Header</h1>
    <%= yield %>
    <h1>Footer</h1>
  </body>
</html>
